@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --background-color: #341f97;
  --foreground-color: #5f27cd;
  --text-color: #ffffff;
}

@keyframes slide-up {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

body {
  background: var(--background-color);
}

#app {
  width: 90vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 1rem;
  background: var(--foreground-color);
  color: var(--text-color);
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
}

form {
  padding: 1rem;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 0.2rem;
  width: 90%;
  border-radius: 1rem;
  height: 1.4rem;
  border: 0;
  font-size: 0.9rem;
  padding: 0.2rem;
  transition: 0.4s;
  background: var(--background-color);
  border: 2px solid var(--foreground-color);
  border-radius: 0.6rem;
  color: var(--text-color);
}

input:active {
  outline: 0;
}

input:focus {
  outline: none;
  border-color: var(--text-color);
}
